{% macro click_show(click_list) %}
    <div>
    <div class="rank_title">
        <h3>点击排行</h3>
    </div>
    <ul class="rank_list">
        {% for click in click_list %}
            <li>
                <span class="click{{ loop.index }}">{{ loop.index }}</span>
                <a href="/{{ click.id }}">{{ click.title }}</a>
            </li>
        {% endfor %}
        <li>
         <img src="../../static/news/images/erweima.png"alt="二维码" style="max-width:200px;max-height:200px">
            <dt>
                <a>微信扫一扫 <br>查看医生科普知识<br></a>
        </li>
    </ul>
    </div>
{% endmacro %}
