                    <div class="mt15">
                                            <div class="find_list mt5">
                                                    <div class="find_list_one">
                                <a href="/yyk/docindex/49393/" class="oneleft fl_left" target="_blank">
                                    <span class="pic"><img src="https://file.youlai.cn/cnkfile1/M00/02/16/ooYBAFhvA5iAe1-PAADKxrufLQs496.jpg" alt="胡世云" /></span>
                                    <p>胡世云</p>
                                </a>
                                <div class="oneright">
                                    <h3><a href="/yyk/article/325256.html" target="_blank">喝酒能暖身吗？</a></h3>
                                    <p class="p1">牙膏不仅治烫伤一绝，还能祛痘止痒治脚气；天凉喝酒可以暖身子；热苦瓜水是抗癌良品……这些“江湖传闻”都是真的吗？其实，这些都是谣言！谣言，总是充斥着我们的生活。为此，我们要击破谣言，看清真相。喝酒暖身散热更快喝得越多、越快，酒的度数越高，越能“感受到身体暖和”，因为血液里酒精浓度越高，血气运行越快，散热更多更快。不过，这属于“饮鸩止渴”。酒后“暖意”是暂时现象，“酒后寒”随之而</p>
                                    <p class="p2">
                                        <span class="ke fl_left">心血管专科</span>
                                        <span class="hos fl_left">广东省中医院</span>
                                        <span class="time fl_right">14小时前</span>
<!--                                         <span class="num fl_right"><strong>3300</strong>人浏览</span>
 -->                                    </p>
                                </div>
                            </div>
                                                        <div class="find_list_one">
                                <a href="/yyk/docindex/49393/" class="oneleft fl_left" target="_blank">
                                    <span class="pic"><img src="https://file.youlai.cn/cnkfile1/M00/02/16/ooYBAFhvA5iAe1-PAADKxrufLQs496.jpg" alt="胡世云" /></span>
                                    <p>胡世云</p>
                                </a>
                                <div class="oneright">
                                    <h3><a href="/yyk/article/325162.html" target="_blank">无花果有哪些功效？</a></h3>
                                    <p class="p1">无花果真的没开花就结果吗？其实不是的。花是植物有性繁殖的器官，不会“花而不实”、“实而不花”。无花果把它的花朵深深地埋藏在它那肥大的囊状花托里。花托顶端又凹陷进去，把雌雄花包在其内，仅在上部开一小口，在凹陷的周缘生有许多小花，形成无花果树特有的花托，植物学上把这种花序称为隐头花序；无花果也需要授粉以繁殖，由于花蕊藏于内部，所以帮它传粉的黄蜂，需要爬进无花果给花授粉。雌性黄蜂通过上部狭</p>
                                    <p class="p2">
                                        <span class="ke fl_left">心血管专科</span>
                                        <span class="hos fl_left">广东省中医院</span>
                                        <span class="time fl_right">14小时前</span>
<!--                                         <span class="num fl_right"><strong>5444</strong>人浏览</span>
 -->                                    </p>
                                </div>
                            </div>
                                                        <div class="find_list_one">
                                <a href="/yyk/docindex/363673/" class="oneleft fl_left" target="_blank">
                                    <span class="pic"><img src="https://file.youlai.cn/cnkfile1/M00/27/20/ooYBAFsg-lOAKMRUAAFTNz74TuQ16.jpeg" alt="李艳" /></span>
                                    <p>李艳</p>
                                </a>
                                <div class="oneright">
                                    <h3><a href="/yyk/article/325839.html" target="_blank">做小腿吸脂手术后多久可以恢复</a></h3>
                                    <p class="p1">女人的小腿过于粗壮该怎么变瘦呢？纤细修长的美腿才是女人们想要的美丽，所以大家都会想办法来解决小腿粗壮现象的。吸脂瘦小腿手术是目前很受欢迎的一种瘦小腿方法，那么你知道接受手术后多久可以恢复正常吗？小腿粗的话会直接影响身材的美观，所以很多人都在忙着进行瘦小腿的。小腿的脂肪分布也有别于其它部位，因此要把小腿修饰的更美就要求医生要有极高的手术技巧和丰富的手术经验。小腿吸脂手术是在膝盖的后侧或在脚踝部做小切</p>
                                    <p class="p2">
                                        <span class="ke fl_left">整形美容中心</span>
                                        <span class="hos fl_left">煤炭总医院</span>
                                        <span class="time fl_right">14小时前</span>
<!--                                         <span class="num fl_right"><strong>173</strong>人浏览</span>
 -->                                    </p>
                                </div>
                            </div>
                                                        <div class="find_list_one">
                                <a href="/yyk/docindex/185714/" class="oneleft fl_left" target="_blank">
                                    <span class="pic"><img src="http://static.youlai.cn/images/cnkang/hosexp/man.jpg" alt="孙莹莹" /></span>
                                    <p>孙莹莹</p>
                                </a>
                                <div class="oneright">
                                    <h3><a href="/yyk/article/325550.html" target="_blank">为什么胖子更显老？</a></h3>
                                    <p class="p1">你还在以为胖子与瘦子，只是体积大小的区别？现实的真相远比你想象的要残酷，你需要认真读完这篇，再去用生命减肥！研究团队测试了527位20-87岁的个体的脑白质含量发现，超重人士的大脑大约比同龄的纤瘦型人士老十岁。这也就是说，一个50岁的胖子大脑中的脑白质含量可能和一个60岁的瘦子一样多。人肥脑老，肥胖带来的伤害远比我们看到的还要残酷，就连身体也要比瘦子遭受更多伤害。胖子</p>
                                    <p class="p2">
                                        <span class="ke fl_left">儿科</span>
                                        <span class="hos fl_left">滕州市中心人民医院</span>
                                        <span class="time fl_right">14小时前</span>
<!--                                         <span class="num fl_right"><strong>2689</strong>人浏览</span>
 -->                                    </p>
                                </div>
                            </div>
                                                        <div class="find_list_one">
                                <a href="/yyk/docindex/355744/" class="oneleft fl_left" target="_blank">
                                    <span class="pic"><img src="https://file.youlai.cn/cnkfile1/M01/03/18/oYYBAFt-rWuAaaUtAAFp-5rnw1E41.jpeg" alt="梁伟中" /></span>
                                    <p>梁伟中</p>
                                </a>
                                <div class="oneright">
                                    <h3><a href="/yyk/article/326157.html" target="_blank">如何选择适合自己的眼霜</a></h3>
                                    <p class="p1">如今这个爱美的时代，人们的化妆台上都会摆放各种各样的化妆品和保养品，很多女孩在出门前，除了在脸上涂抹水乳霜之外，还会在眼睛周围涂上眼霜做保养，有一部分人是在眼周出现细纹、黑眼圈、眼袋之后开始用的，那么为了不暴漏年龄的秘密，对于眼霜我们应该怎样来护理呢？眼霜的正确涂法：按摩要根据自己能承受的力度，每个人的力度是不同的，又因为眼部的上下左右都有穴位，所以按摩并不是越有力越好，要根据个人的体</p>
                                    <p class="p2">
                                        <span class="ke fl_left">整形美容中心</span>
                                        <span class="hos fl_left">煤炭总医院</span>
                                        <span class="time fl_right">14小时前</span>
<!--                                         <span class="num fl_right"><strong>137</strong>人浏览</span>
 -->                                    </p>
                                </div>
                            </div>
                                                        <div class="find_list_one">
                                <a href="/yyk/docindex/364406/" class="oneleft fl_left" target="_blank">
                                    <span class="pic"><img src="https://file.youlai.cn/cnkfile1/M01/00/BA/oYYBAFtEmM-AGeTfAACcF_dqq6014.jpeg" alt="马跃龙" /></span>
                                    <p>马跃龙</p>
                                </a>
                                <div class="oneright">
                                    <h3><a href="/yyk/article/322773.html" target="_blank">什么情况需要用预混胰岛素</a></h3>
                                    <p class="p1">所谓的预混胰岛素，就是按比例将速效，中效的胰岛素，或者类似物混装，比如30/70或者50/50，以方便临床应用的一种胰岛素组合。那么，什么情况下，可以考虑用预混的胰岛素呢？1、在生活方式和口服降糖药物联合治疗的基础上，如果患者HbA1c＞7.0％，以餐后血糖升高为主，可以用预混胰岛素作为起始治疗；2、接受"三短一长"胰岛素强化治疗的患者，在血糖控制平稳以后，患者</p>
                                    <p class="p2">
                                        <span class="ke fl_left">中医内科</span>
                                        <span class="hos fl_left">河南省辉县市第二人民医院</span>
                                        <span class="time fl_right">16小时前</span>
<!--                                         <span class="num fl_right"><strong>441</strong>人浏览</span>
 -->                                    </p>
                                </div>
                            </div>
                                                        <div class="find_list_one">
                                <a href="/yyk/docindex/1957/" class="oneleft fl_left" target="_blank">
                                    <span class="pic"><img src="https://file.youlai.cn/cnkfile1/M00/18/53/o4YBAFnurXKALY5jAAEEj5T6r5U86.jpeg" alt="李媛" /></span>
                                    <p>李媛</p>
                                </a>
                                <div class="oneright">
                                    <h3><a href="/yyk/article/325541.html" target="_blank">不排卵有哪些症状？</a></h3>
                                    <p class="p1">卵巢周期性排卵引起子宫内膜周期性脱落和出血，即正常月经。自来月经的第一天算起，基础卵泡约需10-14天发育成熟。成熟卵泡分泌的雌激素高峰可引起体内黄体生成激素高峰（即LH峰）,可诱发排卵。在自然绝经前，当机体受到内部和外界各种因素，干扰排卵过程，导致排卵期推后或不排卵。不排卵首先表现为月经失调。月经推迟、停经、不规则阴道出血。基础体温测定单相型、阴道分泌物无蛋清样改变、排卵试纸无强阳性等。</p>
                                    <p class="p2">
                                        <span class="ke fl_left">生殖中心</span>
                                        <span class="hos fl_left">首都医科大学附属北京朝阳医院</span>
                                        <span class="time fl_right">16小时前</span>
<!--                                         <span class="num fl_right"><strong>6118</strong>人浏览</span>
 -->                                    </p>
                                </div>
                            </div>
                                                        <div class="find_list_one">
                                <a href="/yyk/docindex/368418/" class="oneleft fl_left" target="_blank">
                                    <span class="pic"><img src="https://file.youlai.cn/cnkfile1/M02/2C/23/FD4C05C1C3C1F1ADD7FB26BA67872C23.jpeg" alt="刘冬玲" /></span>
                                    <p>刘冬玲</p>
                                </a>
                                <div class="oneright">
                                    <h3><a href="/yyk/article/326151.html" target="_blank">芬太尼透皮贴剂使用十步法</a></h3>
                                    <p class="p1">芬太尼透皮贴剂怎么使用呢？药师告诉您十步走。1、确定。医生医嘱需要使用芬太尼透皮贴剂。2、部位。躯干或上臂未受刺激及未受照射的平整皮肤表面，避开手肘、腋下等皱褶处，如有毛发，应在使用前剪除(勿用剃须刀剃除)。3、清洗。用清水清洗，切勿使用沐浴露、肥皂等，使用本贴剂前皮肤应完全干燥。4、按压。打开密封袋后立即使用，在使用时需用手掌用力按压30秒，以确保贴剂与皮肤完全接触，尤其应注</p>
                                    <p class="p2">
                                        <span class="ke fl_left">药学部</span>
                                        <span class="hos fl_left">聊城市人民医院</span>
                                        <span class="time fl_right">16小时前</span>
<!--                                         <span class="num fl_right"><strong>127</strong>人浏览</span>
 -->                                    </p>
                                </div>
                            </div>
                                                        <div class="find_list_one">
                                <a href="/yyk/docindex/1957/" class="oneleft fl_left" target="_blank">
                                    <span class="pic"><img src="https://file.youlai.cn/cnkfile1/M00/18/53/o4YBAFnurXKALY5jAAEEj5T6r5U86.jpeg" alt="李媛" /></span>
                                    <p>李媛</p>
                                </a>
                                <div class="oneright">
                                    <h3><a href="/yyk/article/326174.html" target="_blank">子宫肌瘤对怀孕的影响有哪些?</a></h3>
                                    <p class="p1">子宫肌瘤是什么子宫肌瘤是一种良性疾病，在育龄妇女中有高达20％的发病率。子宫肌瘤可以影响子宫的形态和大小。肌瘤的位置、大小和数目决定了患者是否有症状以及是否需要治疗。根据子宫肌瘤在子宫中的位置可以大概将其分为三类：浆膜下肌瘤（最常见）、肌壁间肌瘤和粘膜下肌瘤。子宫肌瘤与怀孕的关系子宫肌瘤可以通过以下几个方面影响怀孕：（1）宫颈变形影响精子进入子宫，（2）子宫形态及内膜血</p>
                                    <p class="p2">
                                        <span class="ke fl_left">生殖中心</span>
                                        <span class="hos fl_left">首都医科大学附属北京朝阳医院</span>
                                        <span class="time fl_right">16小时前</span>
<!--                                         <span class="num fl_right"><strong>8053</strong>人浏览</span>
 -->                                    </p>
                                </div>
                            </div>
                                                        <div class="find_list_one">
                                <a href="/yyk/docindex/19546/" class="oneleft fl_left" target="_blank">
                                    <span class="pic"><img src="https://file.youlai.cn/cnkfile1/M00/03/FF/ooYBAFjI9auAf3i6AAEPX1S-gm431.jpeg" alt="鲍秀兰" /></span>
                                    <p>鲍秀兰</p>
                                </a>
                                <div class="oneright">
                                    <h3><a href="/yyk/article/326176.html" target="_blank">益生菌到底要不要给宝宝用？</a></h3>
                                    <p class="p1">人们常说：女人当妈妈后，既有了盔甲，也有了软肋。我感觉这话真的说到心坎儿里了。当第一眼看到怀里这个娇弱的小人儿时，我们“为母则刚”，心里暗暗发誓这辈子要替宝宝遮风挡雨、给宝宝最好的。可是在接下来漫长的养育路上，一旦宝宝有个小病小恙，我们却又心急如焚，像个手足无措的孩子。比如前段时间，就有好多年轻妈妈一个劲儿在后台留言问：“宝宝最近不分昼夜地哭闹，急死了！吃饱了换了尿片还是哭闹，小手到处</p>
                                    <p class="p2">
                                        <span class="ke fl_left">儿科</span>
                                        <span class="hos fl_left">北京协和医院</span>
                                        <span class="time fl_right">16小时前</span>
<!--                                         <span class="num fl_right"><strong>6283</strong>人浏览</span>
 -->                                    </p>
                                </div>
                            </div>
                                                    </div>
                        <!-- 分页 -->
                        <div id="pages" style="margin-top:20px;">
                            <div class="pageyl">
                                <ul><li><a class="curr">1</a></li><li><a href="/kp/0_0_2.html">2</a></li><li><a href="/kp/0_0_3.html">3</a></li><li><a href="/kp/0_0_4.html">4</a></li><li><a href="/kp/0_0_5.html">5</a></li> <li><a>...</a></li><li><a href="/kp/0_0_100.html">100</a></li><li><a href="/kp/0_0_2.html">下一页</a></li></ul>
                            </div>
                        </div>